
{% extends "__layout__.html" %}
{% block content %}


		<!-- Content -->
		<main class="content-row">
			<div class="page-title-wrapp">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="page-title-01">About Me</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<ul class="breadcrumbs">
								<li class="active">
									<a href="index.html">Home</a>
								</li>
								<li>About Me</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="about-me-cont-02">
								<p class="subtitle-01">Professional psychiatrist</p>
								<h3 class="title-03">Hello! I am
									<span>Dr. Alex Wedlock</span>
								</h3>
								<div class="about-me-text-01">
									<p>Today you are one step closer to a new you where you feel empowered and on a positive path to growth and well-being. As a cognitive-behavioral, solution-focused therapist, my goal is to help you uncover your true potential and lead a life that
										is worth celebrating. While we can't change difficult situations of the past, we can work together to better understand and resolve challenges in your life.</p>
								</div>
								<p class="about-me-meta">Just Call Me Now 
							
								</p>
								<p class="about-me-phone">
									<span class="about-me-p-01">Dr. Alex Wedlock</span>
											</p>
								<div class="about-me-author">
									<div class="about-me-author__img">
										<img src="{{ url_for('static', filename='img/about_me/about_me_img_02.png') }}" alt="">
									</div>
									<div class="about-me-author__text">
										<p>
											<strong>Dr. Alex Wedlock</strong>,
											<span>Professional Psychologist</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<figure class="about-me-img">
								<img src="{{ url_for('static', filename='img/about_me/about_me_img.jpg') }}" alt="">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-02 pad-top-95 pad-bt-26">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_01.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Confidentiality</h3>
								<p class="about-me-serv__text">All our meetings are confidential and information is protected. Do not worry about your defense.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_02.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Support 24/7</h3>
								<p class="about-me-serv__text">You can call me any time of the day. I am always ready to support you in any difficult situation.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_03.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Development</h3>
								<p class="about-me-serv__text">I try to develop and reach new heights. I attend various trainings and seminars that help me.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_04.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Professionalism</h3>
								<p class="about-me-serv__text">I guarantee only 100 % professional high quality services for you. I offer the best services.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_05.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Work experience</h3>
								<p class="about-me-serv__text">I have 10 years experience in private practice, working with people who have problems.</p>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="about-me-serv">
								<figure class="about-me-serv__icon">
									<img src="{{ url_for('static', filename='img/about_me/icons/icon_06.png') }}" alt="">
								</figure>
								<h3 class="about-me-serv__title">Reliability</h3>
								<p class="about-me-serv__text">I will never leave you in a difficult moment. Call me right now and make an appoinment.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="parallax parallax-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="progress-circle-item-02">
								<div data-value="0.8" class="progress-circle-02">
									<div class="progress-circle-02__value"></div>
								</div>
								<p class="progress-circle-02__text">Psychology</p>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="progress-circle-item-02">
								<div data-value="0.75" class="progress-circle-02">
									<div class="progress-circle-02__value"></div>
								</div>
								<p class="progress-circle-02__text">Neurology</p>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="progress-circle-item-02">
								<div data-value="0.68" class="progress-circle-02">
									<div class="progress-circle-02__value"></div>
								</div>
								<p class="progress-circle-02__text">Psychiatrists</p>
							</div>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="progress-circle-item-02">
								<div data-value="0.81" class="progress-circle-02">
									<div class="progress-circle-02__value"></div>
								</div>
								<p class="progress-circle-02__text">Psychotherapy</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-box-01 pad-top-78 pad-bt-90">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<p class="subtitle-01">Universities &amp; cources</p>
							<h3 class="title-03 title-03--mr-04">My
								<span>Education</span>
							</h3>
							<div class="about-me-text-02">
								<p>I offer a friendly and down-to-earth approach to therapy, providing a safe, confidential and non-judgemental space to talk. With training and experience in the main evidence-based psychotherapies</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="education-block-01">
								<div class="education-block__box-01">
									<p class="education-block-date">23.04.2000</p>
								</div>
								<div class="education-block__box-02">
									<h4 class="education-block-title">Harvard University.
										<br> Faculty of Psychology</h4>
									<div class="education-block-text">
										<p>Harvard University offers diverse programs spanning the full academic spectrum.</p>
									</div>
								</div>
							</div>
							<div class="education-block-02">
								<div class="education-block__box-03">
									<h4 class="education-block-title">Courses of Sociology
										<br>and Psychotherapy</h4>
									<div class="education-block-text">
										<p>I offer my counseling and clinical services to anyone who struggles through their life</p>
									</div>
								</div>
								<div class="education-block__box-04">
									<p class="education-block-date">18.09.2006</p>
								</div>
							</div>
							<div class="education-block-01">
								<div class="education-block__box-01">
									<p class="education-block-date">05.11.2016</p>
								</div>
								<div class="education-block__box-02">
									<h4 class="education-block-title">Graduated School of
										<br>Neurology and Psychiatry</h4>
									<div class="education-block-text">
										<p>For 20 years I have been writing and working with various cases of social disorder</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="parallax parallax-02">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<p class="testimonials__subtitle">Testimonials</p>
							<h3 class="testimonials__title">What
								<span>Clients Say</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="owl-carousel-01 owl-theme-01">
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="{{ url_for('static', filename='img/shortcodes/users/user_01.jpg') }}" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">John Nickelson</h3>
										<p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
									</div>
								</div>
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="{{ url_for('static', filename='img/shortcodes/users/user_02.jpg') }}" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">Samuel Williams</h3>
										<p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
									</div>
								</div>
								<div class="owl-theme-01__item">
									<div class="owl-theme-01__item-text">
										<p>“I found the staff professional and kind, explaining the process to me every step of the way. I understand myself more clearly now and have begun to make positive changes in my life. There was such a high level of customer service.”</p>
									</div>
									<div class="owl-theme-01__item-user">
										<figure class="owl-theme-01__item-user-img">
											<img src="{{ url_for('static', filename='img/shortcodes/users/user_03.jpg') }}" alt="">
										</figure>
										<h3 class="owl-theme-01__item-user-name">Karren Johnson</h3>
										<p class="owl-theme-01__item-user-subtitle">Founder IT Hub</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="action-box-01">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="action-box-01__wrapp">
								<h3 class="action-box-01__title">Get a Consultation Right Now!
									<span>Call: +447810446496</span>
								</h3>
								<p class="action-box-01__subtitle">We are a group of professional and experienced psychologists and psychiatrists</p>
							</div>
							<div class="action-box-01__btn-wrapp">
								<a class="action-box-01__btn" href="#">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock content %}